extends layout

block content
  div.fflex
    div.first
      h1 Robnite
      p Chat with the members!
      if user
        if user.member
          p Create new
    if user 
      div.mid
        h1 Welcome #{user.first_name} #{user.last_name} 