extends layout

block content
  div.fflex
    div.first
      h1 Robnite
      p Chat with the members!
      if user
        if user.member
          div.blue
            a.an(href="/message") Create new 
            img.svg(src="/images/plus-thick.svg", alt="")
    if user 
      div.mid
        h1 Welcome #{user.first_name} #{user.last_name} 

  if messages 
    ul
      each message in messages 
        li= message.time.toLocaleString()  + ': ' + message.content
