doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.flex
      a(href="/") Home
      a(href="/sign-up") Sign up
      a(href="/log-in") Log in
      if user
        a(href="/member") Become a member


    block content
      