extends layout 

block content
    h1 Become a member 
    p Enter a secret passcode
    form(method="POST")
        label(for="pass")
        input(type="number" name="pass")
        button(type="submit") Submit
    div.pos
        img(src="/images/download.jpeg", alt="").f
        img(src="/images/download.png", alt="").s