extends layout 

block content 

    h1 Sign up
    form.box
        div.flex
            div.col
                label(for="first") First Name:
                input(type="text" name="first").n 
            div.col
                label(for="last") Last Name:
                input(type="text" name="last").n
        div.email
            label(for="email") Email:
            input(type="email" name="email").em
        div.flex
            div.col
                label(for="password") Password:
                input(type="password" name="password").n
            div.col
                label(for="confirm") Confirm password:
                input(type="password" name="confirm").n