extends layout 

block content 

    h1 Sign up
    form.box(method="POST")
        div.col.w
            div.flex
                div.col
                    label(for="first") First Name:
                    input(type="text" name="first" required).n 
                div.col
                    label(for="last") Last Name:
                    input(type="text" name="last" required).n
            div.email
                label(for="email").start Email:
                input(type="email" name="email" required).em
            div.flex
                div.col
                    label(for="password") Password:
                    input(type="password" name="password" required minLength=8).n
                div.col
                    label(for="confirm") Confirm password:
                    input(type="password" name="confirm" required).n
            div.b
                button(type="submit").btn Submit

    if errors
        ul 
            each error in errors 
                li= error.msg