body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
 
  width: 40vw;
  
  height: 50vh;
}
.flex{
  display: flex;
  
  justify-content: space-evenly;
}
.col{
  display: flex;
  
  flex-direction: column;
 
}
input{
  align-self: start;
  border-radius: 6px;
  outline: none;
  border: 3px solid #7c73e6;
  height: 25px;
}
.n{
  width: 100%;
}
.email{
 display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.em{
  margin-left: 9px;
  width: 81.8%;
  align-self: center;
}
.w{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
button{
  align-self: flex-start;
}
.b{
  margin-left: 48.5px;
}
.start{
  align-self: flex-start;
  margin-left: 48px;
}
label{
  color: #272343;
}
input:valid{
  border: 3px solid #7cbd1e;
}
input:hover{
  border: 3px solid #f8b500;
}
.log{
  display: flex;
  flex-direction: column;
}
.in{
  width: 20%;
}
.btn{
  margin-top: 10px;
}
.first{
  justify-self: flex-start;
}
.fflex{
  display: flex;
  justify-content: space-between;
}
.mid{
  margin: 0 auto;
  padding-right: 200px;
}
@media only screen and ( max-width: 735px) {
  .mid{
    padding: 0px;
  }
}